.info {
    background-color: #cdf3f6;
}

.row-centered {
    text-align:center;
}

.round-corners-and-background {
    border: 1px solid #d0d0d0;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.domain {
    fill: none;
    stroke-width: 1;
    stroke: black;
}

label {
    font-weight: unset;
    user-select: none; 
}

.histogram_axis text {
    fill: #777777;
}

.histogram_axis path {
    stroke: #777777;
}

.svgviewbox_big {
    padding-top: 50px;
}

.svgviewbox_small {
    padding-top: 15px;
}
