* {
    font-family: 'PT Serif',serif;
}

#body {
    display: flex;
    justify-content: center;
}

#main-content {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2{
    text-align: center;
    border-bottom: black;
    border-bottom-style: solid;
    width: fit-content;
}

.dropdown-category{
    width: 900px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    background-color: rgb(227, 255, 252);
    box-shadow: 3px 7px 12px -4px rgba(0,0,0,0.58);
}

.dropdown-content > p {
    font-size: 25px;
    width: 900px;

}

.closed + .dropdown-content {
    display: none;
}

.closed > .icon {
    display: inline-block;
}

.open > .icon {
    display: inline-block;
    transform: rotate(180deg);
}

.icon {
    position: absolute;
    left: 800px;
}