@import url('normalize.css');
@import url('variable.css');

#chart-container {
    width: 1200px;
    margin: 0 auto 20px auto;
    background: rgba(255,255,255,0.5);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    padding: 20px 30px;
}

#context-container {
  position: fixed;
  bottom: 0;
  padding-left: 30px;
  background: rgba(255,255,255,.80);
  border-top: 1px solid #ccc;
}

#chart-container h2 {
    color: #444;
    margin: 0 0 10px;
    font-weight: 300;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-size: 24px;
}

#display-conservation-controls {
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
    border-radius: 9px;
    margin-bottom: 17px;
}

svg {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

text.country-title {
    font-size: 20px;
}

g.context g.brush rect.background {
    fill: rgba(0,0,0,.1);
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.axis line {
    stroke-opacity: .5;
}

.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: black;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

g.context rect.background{
    fill: rgb(200,200,255);
    visibility: visible !important;
}



/* General Demo Style */
body{
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #888;
    -webkit-font-smoothing: antialiased;
}

a{
    color: #722;
    text-decoration: none;
}
.container{
    width: 100%;
    position: relative;
}
.clr{
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}
.main{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.container > header{
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
    font-size: 30px;
    line-height: 32px;
    margin: 0;
    position: relative;
    font-weight: 300;
    color: #666;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
    margin: 0;
    padding: 15px 0 5px 0;
    color: #888;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
.codrops-top{
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}
.codrops-top a:hover{
    background: rgba(255,255,255,0.6);
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: left;
    display: block;
}

table {
  color: #333; /* Lighten up font color */
  font-family: 'Roboto',Helvetica,Arial,sans-serif; /* Nicer font */
  border-collapse: separate;
  border-spacing: 0;
}

td, th { border: 0px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
  background: #F3F3F3; /* Light grey background */
  font-weight: bold; /* Make sure they're bold */
}

td {
  padding: 0px 10px;
}

#display-container {
  text-align: center;
}

#display-controls {
  text-align: center;
  padding-bottom: 15px;
}

.popover {
  min-width: fit-content;
  min-height: fit-content;
}

.genomeTitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    fill: #666;
}

.callerTitle {
    line-height: 32px;
    font-weight: 300;
    fill: #333;
}

#display-gcc-inner-div {
    background: #F3F3F3;
    margin-bottom: 20px;
    margin-top: 7px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#gc-acc-main th {
    border: none !important;
    border-left: 1px #e0e0e0 solid !important;
    text-align: center;
    line-height: 0.85em;
}

#gc-acc-main {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.type-core {
    fill: var(--success-600);
}

.type-accessory {
    fill: var(--warning-600);
}

.type-singleton {
    fill: var(--info-600);
}

@media (min-width: 768px) {
    .gc-container {
        padding: 0 2rem;
    }
}
@media (min-width: 992px) {
    .gc-container {
        padding: 0 2.5rem;
    }
}
@media (min-width: 1200px) {
}
