@import url('variable.css');

.fa-ul {
    --icon-size: 12px;
    --gutter: 4px;
    padding: 0 4px 0 4px;
  }
  
  .fa-ul span {
    padding-left: var(--gutter);
    align-items: center;
  }
  
  .fa-ul span::before {
    content: "\f061"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: var(--icon-size);
}

.dp-button {
    padding-left: 5px;
}
  
  .dropdown-submenu:hover {
    background: var(--secondary-100);
  }

  .multi-level{
    margin-left: 5px;
  }

  .blast-dropdown-btn a{
    color: var(--primart-text);
  }

  .dropdown-menu{
    min-width: 17rem;
    font-size: 12px;
  }