@import url('variable.css');

*:not(text) {
    font-size: 10px;
    line-height: 1.428;
}

html *
{
   font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

.fs-2x {
    font-size: 2em;
}

.desc {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 20px;
    /* padding-left: 40px; */
    border-radius: 5px;
    background-color: #F9F9F9;
    border: 1px solid #F5F5F5;
    border-left: 10px solid #F1F1F1;
    font-size: 12px;
}

#additional_settings_label {
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 180px;
    padding: 2px;
    margin-top: 8px;
    text-align: center;
    background-color: #CCCCCC;
    color: var(--primary-text);
}

#additional_settings_label:hover {
    background-color: #DDDDDD;
}

.settings-header {
    font-variant: small-caps;
    font-size: 2.5em;
    border-bottom: 1px var(--secondary-500) solid;
    display: block;
    margin-top: 12px;
    color: var(--body-text);
    font-weight: 500;
    line-height: 1.2;
}

.settings-secondary-header {
    font-variant: small-caps;
    font-size: 1.4em;
    border-bottom: 1px var(--secondary-500) solid;
    display: block;
    margin-top: 12px;
    color: var(--body-text);
    font-weight: 500;
    line-height: 1.2;
}

.settings-label {
    margin-left: 0px;
    padding-top: 12px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2em;
    color: var(--body-text);
    font-weight: 400;
    line-height: 1;
  }
  
  .label-big {
    font-size: 14px;
  }

h4 {
    margin-top: 10px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.no-link {
    text-decoration: none;
    color: #333;
}

.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.glyphicon {
    top: 4px;
    font-size: 10px;
}

option {
    padding: 0px;
}

.modal .modal-body {
    overflow-y: auto;
}

.modal-title {
    font-size: 14px;
}

#svg {
    width: 100%;
    height: 100%;
}


html, body, #wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#title-panel {
    position: absolute;
    top: 0px;
    display: inline-block;
    left: calc(50% - 395px);
    height: 70px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--border);
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.9;
    background-color: #fff;
}

#title-alter-panel{
    min-width: 700px;
}

#title-panel:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#title-panel:hover > .title-mode {
    text-decoration: underline;
}

#title-panel-first-line {
    font-size: 20px;
    color: var(--black);
    line-height: 115%;
}

#mouse_hover_panel {
    display: none;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    background: white;
    border-left: 1px solid var(--border);
    padding: 8px;
    opacity: 0.9;
    width: 350px;
}

#description-panel {
    display: none;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    background: white;
    border-left: 1px solid var(--border);
    opacity: 0.9;
    width: 350px;
}

#news-panel {
    display: none;
    top: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    background: white;
    border-left: 1px solid var(--border);
    opacity: 0.9;
    width: 350px;
    padding: 10px;
    overflow-y: scroll;
}

#news-panel code {
	  padding: 1.4px 2px;
    font-size: 90%;
    color: var(--red);
    background-color: var(--white-bg);
    border-radius: 2px;
}

.news-item {
    display: block;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 15px;
}

.news-item > .news-date {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 10px;
}

.news-item > h1 {
    margin-top: 7px;
    font-size: 16px;
}

.blue-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--blue);
    margin-right: 4px;
}

#panel-left {
    position: absolute;
    width: 490px;
    top: 0px;
    left: 0px;
    opacity: 0.9;
}

#panel-center {
    width: 100%;
    height: 100%;
}

#toggle-panel-top {
    position: absolute;
    height: 15px;
    width: 90px;
    background-color: var(--bg-color);
    border: solid 1px var(--bg-color-hover);
    top: 0;
    left: calc(50% - 45px);
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

#toggle-panel-top::after {
    top: 70;
}

#toggle-panel-top:hover {
    background-color: var(--bg-color-hover);
}

#toggle-panel-left {
    position: absolute;
    height: 90px;
    width: 15px;
    background-color: var(--bg-color);
    border: solid 1px var(--bg-color-hover);
    top: calc(50% - 45px);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: 10px;
    padding-top: 9px;
}

.toggle-panel-left-pos {
    left: 560px;
}

#toggle-panel-left:hover {
    background-color: #DDDDDD;
}

#toggle-panel-right {
    position: absolute;
    height: 90px;
    width: 15px;
    background-color: #EEEEEE;
    border: solid 1px var(--bg-color-hover);
    top: calc(50% + 10px);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: 10px;
    padding-top: 14px;
    right: 0px;
}

#toggle-panel-right-2 {
    position: absolute;
    height: 120px;
    width: 15px;
    background-color: #EEEEEE;
    border: solid 1px var(--bg-color-hover);
    top: calc(50% - 120px);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: 10px;
    padding-top: 14px;
    right: 0px;
}

#toggle-panel-right-3 {
    position: absolute;
    height: 80px;
    width: 15px;
    background-color: #EEEEEE;
    border: solid 1px var(--bg-color-hover);
    top: calc(50% - 210px);
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    font-size: 10px;
    padding-top: 14px;
    right: 0px;
}

@keyframes fade {
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.fading-button {
  animation: fade 4s infinite;
}

.toggle-panel-right-pos {
    right: 350px !important;
}

.toggle-panel-right-pos-2 {
    right: 350px !important;
}

.toggle-panel-right-pos-3 {
    right: 350px !important;
}

#toggle-panel-right:hover {
    background-color: #DDDDDD;
}

#toggle-panel-right-2:hover {
    background-color: #DDDDDD;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#multiUser {
    display: none;
    width: 100%;
    height: 38px;
    padding: 4px;
    background-color: floralwhite;
}

#multiUser > .project-name {
    display: inline-block;
}

#multiUser > .home-button {
    float: left;
    margin-right: 5px;
}

#multiUser > img {
    float: left;
    width: 31px;
    height: 31px;
    border: 1px solid lightgray;
    margin-right: 5px;
}

#multiUser > .download-button {
    float: right;
}

#sidebar {
    min-width: 560px;
    position: fixed;
    background: var(--solid-white);
    border-right: 1px solid var(--border);
    width: 400px;
    height: 100%;
    padding: 0px 5px 5px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 150px;
    border-radius: 10px;
}

.ui-accordion .ui-accordion-content {
    padding:  10px 10px 10px 0px;
}

.input-xs {
    height: 22px;
    padding: 0px 5px;
    margin-left: 3px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
}

.input-dropdown-xs {
    height: 22px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    padding-top: 12px;
    margin-bottom: 5px;
}

.form-control-xs{
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.800rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.margin {
    margin-bottom: 0px;
    align-items: center;
}

.sidebar-footer {
    background-color: var(--white-bg);
    height: 123px;
    width: 400px;
    position: fixed;
    bottom: -0px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.table-spacing td {
    padding: 3px;
}

.nav>li>a {
   padding: 10px 12px;
}

td, tr {
    margin: 0px;
    padding: 0px 2px;
}

td > input[type='checkbox'] {
    margin-left: 2px;
    display: flex;
}

.tab-content {
    padding-left: 5px;
}

.tab-pane {
    padding-bottom: 200px;
}

.sidebar-footer-draw {
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

#sidebar-footer-controls {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.sidebar-footer-controls > .btn {
    width: 25%;
}

.sidebar-state-buttons {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}


.btn-group {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1px 0px;
    margin-bottom:10px;
}

.colorpicker-base {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid;
    border-color: var(--black);
    width: 16px;
    height: 16px;
}

.btn-group > .colorpicker-base {
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 3px;
}

.colorpicker-base:hover {
    border: 2px solid;
    border-color: #555;
}

.colorpicker {
    display: inline-block;
    background-color: var(--white-bg);
    color: #fff;
    border: 1px solid;
    border-color: var(--black);
    width: 16px;
    height: 16px;
    margin: auto;
}

.colorpicker-align{
    vertical-align: middle;
    text-align: center;
    margin-top: 4px;
}

.btn-group > .colorpicker {
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 3px;
}

.colorpicker:hover {
    border: 2px solid;
    border-color: #555;
}

.generating-tree {
    padding: 10px;
    background-color: seashell;
    border: 1px solid #F0F0F0;
}

div#tooltip_content tr:nth-child(even) {background: rgba(100,100,100,0.1);}
div#tooltip_content tr:nth-child(odd) {background: rgba(220,220,220,0.1);}

#tooltip_content td {
    word-break: break-all;
}

.table-striped>tbody>tr:nth-child(even) {background: rgba(100,100,100,0.1);}
.table-striped>tbody>tr:nth-of-type(odd) {background: rgba(220,220,220,0.1);}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 5px;
}

#current_state {
  font-variant: small-caps;
  font-weight: bold;
  font-size: medium;
  color: green;
}

#search_result_message, #search_result_message_functions {
  display: inline-block;
  height: 30px;
  padding-top: 7px;
  font-weight: bold;
  font-size: 14px;
}

#tooltips-table {
  max-width: 100%;
  overflow: scroll;
}

#search_tab_content td {
    padding: 6px;
}

.taxonomy-name-label {
    background: #e7f3381a;
    padding: 1px 4px 2px 6px;
    border: 1px dashed #a9a9a9;
    border-radius: 7px;
    display: block;
    font-style: italic;
}

#estimate-taxonomy-check {
    background: #e7f3381a;
    padding: 3px 6px 5px 10px;
    border: 1px dashed #a9a9a9;
    border-radius: 9px;
}

#bins-table > tbody > tr > td { padding: 5px; }
#tooltips-table > tbody > tr > td { padding: 5px; }
#tooltips-table tbody tr td:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#tooltips-table thead tr th:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#search-results-table > tbody > tr > td { padding: 5px; word-break: break-all; }
#search-results-table tbody tr td:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#search-results-table thead tr th:first-child  { border-right: 2px solid rgb(230, 230, 230); }

#divzoom {
    position: absolute;
    width:0px;
    height:0px;
    pointer-events: none;
    background-color: rgba(0,0,255,0.4);
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(0,0,255);
    display: none;
    vertical-align: middle;
    text-align: center;
}

#fixed-navbar-div {
    position: fixed;
    z-index: 500;
    width: 400px;
    border-right: 1px solid #D3D3D3;
    background-color: #FFFFFF;
}

.dropdown-menu>li>p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.modal-dialog.modal-sm h3::before {
    display: block;
    width: 280px;
    height: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    content: "";
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: 100%;
}

.modal-dialog.modal-sm {
    width: 320px;
}

.taxonomy-modal-dialog{
    max-width: fit-content !important;
}

.menu-disabled {
    pointer-events:none;
    opacity:0.4;
}

.nav-tabs {
    background-position: top right;
    padding-top: 5px;
}

.CodeMirror, .CodeMirror-scroll {
    height: calc(100% - 130px) !important;
}

.ui-dialog, .ui-dialog-content {
    padding: 0px !important;
}

.ui-dialog-content {
    width: 100% !important;
}

/* Close Button */

.close-thick {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 0px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 0px;
}

.close-thick:hover {
    text-decoration: none;
}

.close-thick:after {
  content: '✖'; /* UTF-8 symbol */
}

.sidebarPadding {
    padding-top: 60px !important;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.pan-filters input[type='checkbox'] {
    width: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.taxonomyTableDialog i.glyphicon {
   font-family: 'Glyphicons Halflings' !important;
    font-size: 10px;
    top: 1px;
    padding: 4px 4px;
}

.footer-btn{
    align-content: center;
    display: grid;
    font-size: 1.3rem;
}

.input-align{
    padding-top: 5px;
    text-align: center;
    align-content: center;
}

.display-settings{
    display: flex;
}

.colorpicker-width {
    margin-right: 12px;
}

.inner-wrapper{
    color: var(--bg-color) !important;
    z-index: 10;
}

#inner-sidebar {
    min-width: 60px !important;
    color: var(--bg-color) !important;
    background: var(--bg-color);
    height: fit-content;
}

.tab-elements{
    position: fixed;
    z-index: 11;
    background-color: var(--bg-color);
}

.dropdown-toggle{
    color: var(--secondary-600) !important;
}

.dropdown-toggle:hover{
    color: var(--secondary-900) !important;
    font-weight: 600;
}

.navbar-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-600) !important;
}

.navbar-btn:hover{
    background-color: var(--secondary-100) !important;
}

.selected-navbar-btn{
    display: flex;
    padding: auto;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    color: var(--success-600) !important;
}

#sidebar-logo{
    width: 70%;
}

.menu-toggle{
    color: var(--secondary-600);
}

.menu-toggle:hover{
    color: var(--secondary-900);
}

.border-color{
    color: var(--divider);
}

.side-menu-text {
    font-size: 12px;
    line-height: 1.428;
    color: var(--divider);
}

.select-sm{
    padding: 0.15rem 0.1rem !important;
    font-size: 0.925rem !important;
    margin: 1px 0px 1px 0px;
}

.select-xs{
    padding: 0 !important;
    font-size: 0.925rem !important;
    height: calc(1.2em + 0.5rem + 2px);
}

.display-disabled-btn{
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.nav-item{
    color: var(--secondary-600);
}

.nav-item:active{
    background-color: var(--secondary-200) !important;
}

.nav-item:hover{
    background-color: var(--secondary-50);
}

.nav-item .active {
    color: var(--secondary-900);
    background-color: var(--secondary-100);
    font-weight: 600;
    border-radius: 10px;
}

.nav-item .active .nav-icon{
    display: none;
}

.nav-item .nav-icon-fill{
    display: none;
}

.nav-item .active .nav-icon-fill{
    display: block;
}

.new-bin-icon{
    color: var(--success-600);
    cursor: pointer; 
}

.del-bin-icon{
    color: var(--danger-600);
    cursor: pointer; 
}

.default-bin-icon{
    color: var(--secondary-600);
    cursor: pointer; 
}

.titles{
    width: 90px;
}

#nav-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
}

.nav-bottom-alignment{
    position: relative;
    left: -50%;
}

.tab-elements{
    min-height: 100vh;
}

.menu-padding{
    padding-left: 5px;
}

.chart-icon-padding{
    padding: 0;
}

.discord-btn:hover{
    background-color: #5865F2;
    border-color: #5865F2;
}

.github-btn:hover{
    background-color: #0c2d6b;
    border-color: #0c2d6b;
}

.shadow-box{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-box:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: rgb(250, 250, 250) ;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.6) ;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#sidebar-option-tab{
    max-width: 42px;
}

#second_support_symbol_color{
    display: none;
    background-color:#2bab00;
    min-width: 16px;
}

.scale-bar{
    max-width: 160px;
    justify-content: center;
    font-weight: 600;
    color: var(--primary-text);
}

#second_support_font_color{
    display: none;
    background-color:#AA0000;
    min-width: 16px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
box-shadow: inset 0 0 0 $width $color;
color: $color;
transition: color $duration $duration/3;
position: relative;

&::before,
&::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
}

&::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
}

&::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
}

&:hover {
    color: $hover;
    
    &::before,
    &::after {
    border-color: $hover;
    transition: border-color 0s, width $duration, height $duration;
    width: 100%;
    height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
}
}

.draw-border {
@include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

@media only screen and (min-width:1460px){
    /* styles for browsers larger than 1460px; */
    *:not(text) {
        font-size: 12px;
        line-height: 1.428;
    }
    .glyphicon {
        top: 4px;
        font-size: 15px;
    }

    .fs-2x {
        font-size: 2em !important;
    }
}

@media only screen and (min-width:1280px) and (max-width: 1460px){
    /* styles for browsers larger than 1280px; */
    *:not(text) {
        font-size: 12px;
        line-height: 1.428;
    }

    .fs-2x {
        font-size: 1.7em !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .fa-2x {
        font-size: 1.5em !important;
    }

    .fs-2x {
        font-size: 1.7em !important;
    }
}