*:not(text) {
    font-size: 12px;
    line-height: 1.428;
}

.desc {
    font-family: 'PT Serif',serif;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 20px;
    /* padding-left: 40px; */
    border-radius: 5px;
    background-color: #F9F9F9;
    border: 1px solid #F5F5F5;
    border-left: 10px solid #F1F1F1;
    font-size: 12px;
}

.settings-header {
    font-variant: small-caps;
    font-size: 1.2em;
    border-bottom: 1px #969696 solid;
    display: block;
    margin-bottom: 5px;
    margin-top: 12px;
}

h4 {
    margin-top: 10px;
}

::-webkit-scrollbar { 
    display: none; 
}

.no-link {
    text-decoration: none;
    color: #333;
}

.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.glyphicon {
    top: 4px;
    font-size: 15px;
}

option {
    padding: 0px;
}

.modal .modal-body {
    overflow-y: auto;
}

#svg {
    position: fixed;
    left: 490px;   
    width: calc(100% - 490px);
    height: 100%;
}


html, body, #wrapper {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#multiUser {
    width: 490px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: floralwhite;
}

#sidebar {
    position: fixed;
    background: url('../images/fractal.jpg') center center scroll;
    border-right: 1px solid #D3D3D3;
    width: 490px;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    padding-bottom: 150px;
    margin-top: 43px;
}

.input-xs {
    height: 22px;
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-margin {
    margin-bottom: 0px;
}

.sidebar-footer {
    background-color: white;
    height: 82px;
    width: 490px;
    position: fixed;
    bottom: -0px;
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.nav>li>a {
   padding: 10px 14px;
}

td, tr {
    margin: 0px;
    padding: 0px 2px;
}

td > input[type='checkbox'] {
    margin-left: 5px;
}

#btn_draw_tree {
    width: 25%;
    font-weight: bolder;
}

.tab-content {
}

.sidebar-footer-draw {
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #D3D3D3;
}

#sidebar-footer-controls {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.sidebar-footer-controls > .btn {
    width: 25%;
}

.sidebar-state-buttons > .btn {
    width: 25%;
}

.sidebar-state-buttons {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px 0px;
    margin: 6px 0px;
}

.btn-group {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1px 0px;
    margin-bottom:10px;
}

.colorpicker {
    float: left;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid;
    border-color: #000;
    width: 16px;
    height: 16px;
    margin: auto;
}

.btn-group > .colorpicker {
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 3px;
}

.colorpicker:hover {
    border: 1px solid;
    border-color: #555;
}

div#tooltip_content tr:nth-child(even) {background: rgba(100,100,100,0.1);}
div#tooltip_content tr:nth-child(odd) {background: rgba(220,220,220,0.1);}

.table-striped>tbody>tr:nth-child(even) {background: rgba(100,100,100,0.1);}
.table-striped>tbody>tr:nth-of-type(odd) {background: rgba(220,220,220,0.1);}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 5px;
}

.settings-label {
  padding-top: 2px;
  margin-bottom: 0;
  text-align: right;
  height: 25px;
  text-align: right;
}

.label-big {
  font-size: 14px;
}

#current_state {
  font-variant: small-caps;
  font-weight: bold;
  font-size: medium;
  color: green;
}

#search_result_message {
  padding-left: 100px;
  height: 30px;
  padding-top: 7px;
  font-weight: bold;
  font-family: fantasy;
}

#tooltips-table {
  width: 480px;
  display: block;
  max-width: 100%;
  overflow: scroll;
}

#bins-table > tbody > tr > td { padding: 5px; }
#tooltips-table > tbody > tr > td { padding: 5px; }
#tooltips-table tbody tr td:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#tooltips-table thead tr th:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#search-results-table > tbody > tr > td { padding: 5px; }
#search-results-table tbody tr td:first-child  { border-right: 2px solid rgb(230, 230, 230); }
#search-results-table thead tr th:first-child  { border-right: 2px solid rgb(230, 230, 230); }

#divzoom {
    position: absolute; 
    width:0px; 
    height:0px;
    pointer-events: none; 
    background-color: rgba(0,0,255,0.4); 
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(0,0,255);
    display: none;
    vertical-align: middle;
    text-align: center;
}

#divzoom_inner { 
    pointer-events: none;
    margin: auto 0px;
    background-color: rgba(0,0,0,0.2); 
    position:relative; 
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#fixed-navbar-div {
    position: fixed;
    padding-left: 9px;
    z-index: 500;
    width: 490px;
    padding-top: 4px;
    border-right: 1px solid #D3D3D3;
}

.dropdown-menu>li>p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.modal-dialog.modal-sm h3::before {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    content: "";
    background: url("../images/logo.png") no-repeat 0 0;
    background-size: 100%;
}

.menu-disabled {
    pointer-events:none;
    opacity:0.4;
}
