@import url('variable.css');
@import url('main.css');

html *
{
   font-family: 'Roboto',Helvetica,Arial,sans-serif;
}


#svgbox {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .offcanvas-btn {
      visibility: visible;
  }
  
  .offcanvas-btn span:last-child,
  .offcanvas.show .offcanvas-btn span:first-child {
    display: none;
  }
  
  .offcanvas.show .offcanvas-btn span:last-child {
    display: inline;
  }
  
  h5 {
    border-bottom: 1px solid #ccc; /* This is the line replacing the hr*/
    margin-bottom: 10px; /* This is the space below the line */
    margin-top: 20px; /* This is the space below the line */
    padding-bottom: 15px; /* This is the space between the heading text and the line */
  }
  
  #leftoffcanvas-button {
    left: 400px;
  }
  
  #rightoffcanvas-button {
    right: 200px;
  }
  
  #rightoffcanvas {
    width: 200px;
  }
  
  #left {
    overflow-y: auto; 
    /* max-height: calc(100vh - 128px); */
    height: calc(100vh - 128px);
  }
  
  .dropdown-toggle::after { 
    content: none; 
  } 
  
  .offcanvas-body {
    overflow: hidden;
  }
  
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .modal-dialog,
  .modal-content {
    /* 80% of window height */
    height: 80%;
  }
  
  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
  
  #right {
    overflow-y: auto;
    max-height: 100%;
  }
  
  
  .btn-bot{
    position: absolute;
    top:0px;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .right {
    overflow-y: scroll; 
  }

  #node_basics_table, #node_functions_table, #node_sequence_alignments_table {
      font-size: x-small;
  }

  #node_basics_table {
      text-align: center;
  }

  .modal_header {
    font-variant: small-caps;
    font-size: x-large;
    background: linear-gradient(88deg, #fff0f0, #ffffff);
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .gene_cluster_context_items {
    display: block;
    border: 1px #dee2e6 solid;
    padding: 0px 3px;
    font-size: x-small;
    background: #f2f2f2;
  }

  .gene_cluster_id {  
    display: inline-block;
    margin: 5px 2px;
    padding: 3px 5px;
    border: 1px solid #9c9c9c;
    border-radius: 6px;
    font-family: monospace;
    background: #fff0f1;
  }

  .gene_cluster_id_current {
      background: #d8ebde;
  }

  .bin-icon-size{
    font-size: 14px;
  }

  #panel-left {
    z-index: 2;
  }

  #toggle-panel-left{
    z-index: 1;
  }

  #toggle-panel-top{
    z-index: 1;
  }

  #title-panel{
    z-index: 1;
  }

  #title-alter-panel{
    z-index: 1;
  }