body {
    color: #333332;
    font-family: "PT Serif",serif;
}

.index-page {
    height:100vh;
    background: rgba(0, 0, 0, 0) url('../images/fractal.jpg') repeat;
}

.header {
    height: 90px;
    border-bottom: 1px solid lightgray;
    background: rgba(0, 0, 0, 0) url('../images/fractal.jpg') repeat;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
}

.header span {
    font-size: 18px;
}

.header img {
    height: 64px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.carousel {
    position: relative;
    border: 2px solid #EFEFEF;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators .active {
    background-color: gray;
}

.carousel-indicators li {
    border: 1px solid gray;
}

.navbar {
    padding-top: 8px;
    margin-bottom: 0px;
}

.navbar-header {
    float: left;
    font-size: 1.3em;
    font-variant: small-caps;
    padding-top: 13px;
}

.item img {
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background: rgba(0, 0, 0, 0) url('../images/vuoi.png') repeat;
}
