body {
    background-color: white;
}

.slider-selection {
    background-image: linear-gradient(to bottom, #6262b9 0%, #f5f5f5 100%);
}

.widget {
    background-color: #f5f4fd;
    margin: 5px 0px;
    padding: 8px 15px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}

.slider {
    width: 100% !important;
}

.ngl-container {
    overflow-y: scroll; 
}

.ngl-group-title {
    position: absolute;
    left: 0px;
    top: 0px;
    background: black;
    color: white;
    margin: 2px;
    padding: 4px;
}