body {
    background-color: white;
}

.slider-selection {
    background: linear-gradient(to bottom, #235989, #ffffff, #235989);
}

.slider.slider-horizontal .slider-track-high {
    background: linear-gradient(to bottom, #b8cad9, #ffffff, #b8cad9);
}

.slider.slider-horizontal .slider-track-low {
    background: linear-gradient(to bottom, #b8cad9, #ffffff, #b8cad9);
}

.slider-handle {
    position: absolute;
    top: 3;
    width: 12px;
    height: 12px;
    background-color: #337ab7;
    border: 1px solid #333;
}

.widget {
    background-color: #f9f9f99e;
    margin: 5px 0px;
    padding: 8px 15px;
    border: 1px solid #e4e4e4;
}

.slider {
    width: 100% !important;
}

.slider.slider-horizontal .slider-track {
    height: 6px;
    width: 100%;
    margin-top: -4px;
    top: 50%;
    left: 0;
}

.slider.slider-horizontal .slider-handle {
    margin-left: -6;
}

.ngl-container-wrapper {
    height: 100%;
    display: block;
    overflow-y: scroll;
    background: #FAFAFA;
}

.ngl-inner {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
}

.ngl-group-title {
    position: absolute;
    color: #337ab7;
    margin: 2px;
    padding: 4px;
    font-weight: bold;
}

.ngl-group-fullscreen {
    position: absolute;
    right: 15px;
    top: 5px;
}

.form-row-padding {
    padding: 8px;
}

#engine_list label {
    margin-left: 4px;
    margin-right: 12px;
}

.sidebar {
    height: 100%;
    border-right: 1px solid #D3D3D3;
    box-shadow: 0px 0px 10px 2px rgba(200,200,200,0.75);
    overflow-y: scroll;
}

.table-group-checkbox {
    margin-right: 10px;
    margin-bottom: 4px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.nav>li>a {
    padding: 10px 10px;
}


.colorpicker:hover {
    border: 2px solid;
    border-color: #555;
}

.colorpicker {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid;
    border-color: #000;
    width: 16px;
    height: 16px;
    margin: 4px;
}

.settings-header {
    font-variant: small-caps;
    font-size: 1.2em;
    border-bottom: 1px #969696 solid;
    display: block;
    margin-bottom: 5px;
    margin-top: 12px;
}

#model_info_table {
    text-align: center;
    vertical-align: middle;
}

.ngl-tooltip {
    display: none;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    background-color: rgba( 0, 0, 0, 0.6 );
    color: lightgrey;
    padding: 8px;
    font-family: sans-serif;
}

.ngl-tooltip > table {
    color: white;
}

.ngl-tooltip > table td {
    padding: 2px 4px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.overlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 999999;
}

.loading-gif-container {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 30px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #DDDDDD;
    text-align: center;
    background-color: #FFFFFF;
}

.tooltip-table>tbody>tr:nth-child(odd)>td, .tooltip-table>tbody>tr:nth-child(odd)>th {
    background-color: rgba(119,119,119,0.5);
}

.tooltip-table>tbody>tr:nth-child(even)>td, .tooltip-table>tbody>tr:nth-child(even)>th {
    background-color: rgba(153,153,153,0.5);
}

.tooltip-table {
    font-size: 10px;
    color: rgb(230, 230, 230) !important;
}
