.messagePopup_context {
    word-wrap: break-word;
    padding: 10px;
    font-family: monospace;
    width: 600px;
    height: 400px;
}

td.tk {
  padding: 3px 0px;
  padding-right: 10px;
  padding-left: 5px;
}

td.tv {
  padding: 3px 0px;
  padding-left: 10px;
  border-left: 1px solid #EEE;
}

table{border-collapse:collapse;}

div#tooltip_content tr:nth-child(even) {background: #DDD;}
div#tooltip_content tr:nth-child(odd) {}

.drag-icon {
    cursor:move;
}

#searchBox {
    margin: 5px;
}

.ui-icon {
    vertical-align:middle;
    display: inline-block;
}

td > a {text-decoration: none}

svg text::selection { background: none; }

#divzoom {
    position: absolute; 
    width:0px; 
    height:0px;
    pointer-events: none; 
    background-color: rgba(0,0,255,0.4); 
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(0,0,255);
    display: none;

    vertical-align: middle;
    text-align: center;
}

#divzoom_inner { 
    pointer-events: none;
    margin: auto 0px;
    background-color: rgba(0,0,0,0.2); 
    position:relative; 
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

}

body {
    font-family: Arial;
    font-size: 10px;
}

div#treeContainer {
    position: block;
    width:100%;
    height:100%;
    background-color:white;
    border:0px;
    margin:0px;
}

div#treeControls {
    overflow:hidden;
    display: block;
}

#zoomControls {
    padding: 0px;
    width:50px;
    list-style:none;
    margin:0;
}

#zoomControls li {
    width:50px; height:50px;
    background-size:contain;
    background-repeat:stretch;
    opacity:0.75;
    position:relative;
    z-index: 20;
}

#zoomControls li:hover {
    cursor:pointer;
}

#zoomControls .zoom-in { background-image:url(../images/zoom-in.svg); }
#zoomControls .zoom-in:hover { background-image:url(../images/zoom-in_sel.svg); }
#zoomControls .zoom-out { background-image:url(../images/zoom-out.svg); }
#zoomControls .zoom-out:hover { background-image:url(../images/zoom-out_sel.svg); }
#zoomControls .zoom-reset { background-image:url(../images/pan-11.svg); }
#zoomControls .zoom-reset:hover { background-image:url(../images/pan-11_sel.svg); }
#zoomControls .pan-left { background-image:url(../images/pan-left.svg); }
#zoomControls .pan-left:hover { background-image:url(../images/pan-left_sel.svg); }
#zoomControls .pan-up { background-image:url(../images/pan-up.svg); }
#zoomControls .pan-up:hover { background-image:url(../images/pan-up_sel.svg); }
#zoomControls .pan-down { background-image:url(../images/pan-down.svg); }
#zoomControls .pan-down:hover { background-image:url(../images/pan-down_sel.svg); }
#zoomControls .pan-right { background-image:url(../images/pan-right.svg); }
#zoomControls .pan-right:hover { background-image:url(../images/pan-right_sel.svg); }
#zoomControls .save-svg { background-image:url(../images/save.png); }
#zoomControls .save-svg:hover { background-image:url(../images/save_sel.png); }

div#treeContainer svg {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

td select {
    width: 100%;
}

.colorpicker {
    background-color: #FFF;
    border: 1px solid;
    border-color: #000;
    width: 14px;
    height: 14px;
    margin: auto;
}

.colorpicker:hover {
    border: 1px solid;
    border-color: #555;
}

#groups-table td {
    text-align: center;
    margin: 3px;
    padding: 3px;
}

.delete-button {
    cursor: auto;
    opacity: 0.7;
}
.delete-button:hover {
    cursor: hand;
    cursor: pointer;
    opacity: 1;
}


#loading{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
#contig_name_dialog {
    text-align: center;
}

#contig_names {
    width: 90%;
    height: 200px;
}

#control_contextmenu {  
    border:1px solid #ccc;  
    background-color:#eee;  
    width: 150px; 
} 
 
#control_contextmenu ul {  
    list-style:none;  
    padding:0;  
    margin:0;  
    cursor:pointer;  
} 
 
#control_contextmenu ul li {  
    text-align:left;  
    padding:3px 10px 3px 5px;  
    margin:0;  
    cursor:pointer;  
    font-family:Arial;  
    text-decoration:none;  
    color:#333;  
    font-size:12px;  
    font-weight:bold;  
} 

#control_contextmenu ul li.selected, 
#control_contextmenu ul li:hover {  
    color:#fff;  
    background-color:#f8b74b;  
    cursor:pointer;  
}
