[submodule "anvio/data/static/content/chartsjs"]
	path = anvio/data/static/content/chartsjs
	url = https://github.com/nnnick/Chart.js
[submodule "anvio/data/static/content/bootstrap-sortable"]
	path = anvio/data/static/content/bootstrap-sortable
	url = https://github.com/drvic10k/bootstrap-sortable
[submodule "anvio/data/interactive/lib/bootstrap-sortable"]
	path = anvio/data/interactive/lib/bootstrap-sortable
	url = https://github.com/drvic10k/bootstrap-sortable
[submodule "anvio/data/interactive/lib/d3.js"]
	path = anvio/data/interactive/lib/d3.js
	url = https://github.com/mbostock/d3
[submodule "anvio/data/interactive/lib/jquery-ui"]
	path = anvio/data/interactive/lib/jquery-ui
	url = https://github.com/jquery/jquery-ui
[submodule "anvio/data/interactive/lib/randomColor"]
	path = anvio/data/interactive/lib/randomColor
	url = https://github.com/davidmerfield/randomColor
[submodule "anvio/data/interactive/lib/toastr"]
	path = anvio/data/interactive/lib/toastr
	url = https://github.com/CodeSeven/toastr.git
[submodule "anvio/data/interactive/lib/marked"]
	path = anvio/data/interactive/lib/marked
	url = https://github.com/chjj/marked.git
[submodule "anvio/data/interactive/lib/JavaScript-MD5"]
	path = anvio/data/interactive/lib/JavaScript-MD5
	url = https://github.com/blueimp/JavaScript-MD5.git
