.*
*.pyc
*.so
*.nhr
*.nin
*.nsq
.env
/build/
/dist/
test-output/
/*.egg-info/
anvio/__pycache__/
anvio/extensions/concoct/vbgmm.c
anvio/data/misc/COG/
anvio/data/misc/Pfam/
anvio/data/misc/PDB.db
anvio/data/misc/Interacdome/
anvio/data/misc/MODELLER/db/
anvio/data/misc/CAZyme/
anvio/data/misc/REACTION_NETWORK/
anvio/data/interactive/lib/ngl/
smtp_config.ini
.snakemake
anvio/data/misc/SCG_test
anvio/data/misc/SCG_old.tar.gz
anvio/data/misc/SCG
anvio/data/misc/KEGG
diamond-log-file.txt
anvio/data/misc/SCG_TAXONOMY/GTDB/SCG_SEARCH_DATABASES/*.dmnd
anvio/tests/sandbox/update-contigs-and-bams-for-mini-test/output
anvio/tests/sandbox/test_visualize_split_coverages/TEST_OUTDIR
anvio/data/misc/KEGG/
anvio/data/misc/TRNA_TAXONOMY/
