.*
*.pyc
*.so
/build/
/dist/
test-output/
/*.egg-info/
anvio/extensions/concoct/vbgmm.c
anvio/data/misc/COG/
anvio/data/misc/MODELLER/db/
smtp_config.ini
.snakemake
anvio/data/misc/SCG_test
anvio/data/misc/SCG_old.tar.gz
anvio/data/misc/SCG
