include *.txt *.md *.yaml
recursive-include anvio/data *
recursive-include anvio/docs *
recursive-include anvio/workflows *
recursive-include anvio/extensions *.h *.c *.pyx *.py
recursive-include anvio/tests *
global-exclude test-output *.pyc
