include *.txt *.md VERSION
recursive-include anvio/data *
recursive-include anvio/extensions *.h *.c *.pyx *.py
recursive-include tests *.bam *.txt *.fa *.tbl *.sh *.gz *.ini *.tsv
global-exclude test-output *.pyc
