numpy==1.24.1
scipy
bottle
pysam
ete3
scikit-learn==1.2.2
django
requests
mistune
six
matplotlib==3.5.1
statsmodels
colored
illumina-utils
tabulate
rich-argparse
numba
paste
pyani
psutil
pandas==1.4.4
snakemake
multiprocess
plotext
networkx
pulp==2.7.0
biopython
reportlab
pymupdf
