numpy
cython
bottle==0.12.13
pysam==0.15.1
ete3==3.1.1
scipy>=0.13.3
scikit-learn==0.19.2
django==2.0.2
h5py==2.8.0
cherrypy==8.9.1
requests==2.19.1
psutil==5.4.3
mistune==0.7.4
six==1.11.0
pandas==0.23.1
matplotlib==2.2.3
pyani==0.2.7
statsmodels==0.9.0
snakemake==5.2.4
