/* 
	Required Styles
*/
#aToolTip {
	pointer-events: none;
	position: absolute;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:6px 12px;	
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}