<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">
    <base target="_blank">

    <title>Anvi'o: Diversity-Generating Retroelements Summary</title>

    <!-- JQUERY -->
    <script src=".html/js/jquery.min.js"></script>

    <!-- Popper JavaScript -->
    <script src=".html/js/popper.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=".html/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">
    <link href=".html/bootstrap-sortable/Contents/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/anvio.css" rel="stylesheet">

    <!-- Bootstrap Icon CSS -->
    <link href=".html/css/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#" style="width: 50px;">
                <img class="img-fluid img-left" src=".html/pics/logo-simple.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center justify-content-center" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item ml-5 mr-5">
                        <a class="text-secondary" href="http://anvio.org">Anvi'o Project Page</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="text-secondary" href="https://github.com/merenlab/anvio">Anvi'o Repository</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="text-secondary" href="https://github.com/merenlab/anvio/issues">Report an Issue</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="text-secondary" href="http://anvio.org/#people">Contact</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="text-secondary" href="https://github.com/merenlab/anvio/releases">Anvi'o version: {{ meta|lookup:"anvio_version" }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <div class="alert alert-primary d-flex" role="alert">
            <i class="d-flex align-items-center mr-3 text-primary bi bi-info-circle" style="font-size: 3em;"></i>
            <div class="text-secondary">
                Welcome to the <a href="https://anvio.org" target="_blank">anvi'o</a> summary page for diversity-generating retroelements. The contents of this page
                is generated by <a href="https://anvio.org/m/anvi-report-dgrs" target="_blank">anvi-report-dgrs</a>, which not only produces this static HTML summary page
                but also a more comprehensive <a href="https://anvio.org/m/dgrs-txt" target="_blank">text output files</a> for downstream analyses. In addition to the text
                output the program generates, below you will find a summary of {{ meta.num_dgrs }} DGRs total, their genomic context, <span class="highlight"> and
                their activity across {{ meta.num_samples }} samples </span>. Please note that the anvi'o dgrs submodule is still relatively young and experimental.
                If you have any questions, please feel free to write to <a href="https://anvio.org/m/anvi-report-dgrs" target="_blank">its developers</a>.
            </div>
        </div>
    </div>

    <section>
        <div class="container mb-3">
            <div class="card border-warning" id="Summary">
                <div class="card-header">
                    <h1 class="card-title">All DGRs</h1>
                </div>
                <div id="collapse-bins" class="collapse show in">
                    <div class="card-body">
                        <p>To view or download the TAB-delimited file that summarizes all diversity-generating retroelements, please <a href="{{ files|lookup:"Putative_DGRs" }}">click here</a>.</p>
                        <p>See the anvi'o artifact <a href="https://anvio.org/m/dgrs-txt" target="_blank">dgr-txt</a> to learn more about the information shown in this file.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for dgr, dgr_data in dgrs.items %}
    <section class="mb-3">
        <div class="container">
            <div class="card border-info" id="{{ dgr }}">
                <div class="card-header">
                    <h1 class="card-title">{{ dgr|pretty }}</h1>
                </div>
                <div id="collapse-bins">
                    <div class="card-body">
                        <div style="text-align: left; background:#FAFAFA; border:1px solid #c8c8c8; border-radius:10px; padding:15px; margin-bottom: 25px;">
                        <h4>Template Region and Variable Region Aligned</h4>

                        <!-- TR Sequence -->
            <div style="font-family: monospace; width: 100%; max-height: 400px; overflow-x: auto; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background-color: #f9f9f9;">
                <pre style="margin: 0; white-space: pre;">
{% for vr_key, vr in dgr_data.dgr_data.VRs.items %}
{{ vr.TR_sequence }}
{{ vr.midline }}
{{ vr.VR_sequence }}
{% endfor %}
                            </pre>
                        </div>
                    <h4>Genomic context <small class="text-muted">:: What we know about the genes that surround both the Template and Variable Regions.</small></h4>
                    <h4>Template Region (TR)</h4>

                    <div style="width:1000px; margin:auto; background:#F1F1F1; border-radius:10px 20px; border:1px solid #c8c8c8; margin-top: 25px; margin-bottom: 25px;">
                        <svg width="1000" height="80">
                            {% if meta.genomic_context_recovered %}
                                <rect x='{{ dgrs|lookup:dgr|lookup:"dgr_data"|lookup:"TX" }}' y="0" width='{{ dgrs|lookup:dgr|lookup:"dgr_data"|lookup:"TW" }}' height="65" style="fill:pink; opacity:0.5"></rect>
                                <text x='{{ dgrs|lookup:dgr|lookup:"dgr_data"|lookup:"TT" }}' y="75" dominant-baseline="middle" text-anchor="middle" fill="pink" style="font-weight:bold;">TR</text>

                                <!-- TR Genes SVG Elements -->
                                {% for gene_key, gene in dgr_data.tr_genes.items %}
                                    <g type="button" data-container="body" data-toggle="popover" data-popover-content="#{{dgr}}-gene-{{ gene.gene_callers_id }}-popover" data-placement="bottom" {% if gene.direction == "r" %}transform='translate({{ gene.TGTRANS }}, 0) scale(-1, 1)'{% endif %} id='{{dgr}}-gene-{{ gene.gene_callers_id }}'>
                                        <rect x='{{ gene|lookup:"TRX" }}' y="23" width='{{ gene|lookup:"TRW" }}' height="15" style='fill: {{ gene.COLOR }}'></rect>
                                        <polygon points='{{ gene|lookup:"TRX_TRW" }} 12, {{ gene|lookup:"TGY" }} 30, {{ gene|lookup:"TRX_TRW" }} 48' style='fill: {{ gene.COLOR }}'></polygon>
                                    </g>
                                    <!-- Draw gene caller ID label -->
                                    <text x='{{ gene|lookup:"TCX" }}' y="55" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">
                                        {{ gene.gene_callers_id }}
                                    </text>

                                    <!-- Draw RT label if it's the RT gene -->
                                    {% if gene.COLOR == '#c366e8' %}  <!-- Assuming this is the RT gene color -->
                                        <text x='{{ gene|lookup:"TCX" }}' y="70" dominant-baseline="middle" text-anchor="middle" fill="{{ gene.COLOR }}" style="font-weight:bold;">
                                            RT
                                        </text>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <text x="50%" y="35" dominant-baseline="middle" text-anchor="middle" fill="gray" style="font-style:italic;">
                                    We don't know anything about the genomic context since you have used the flag --skip-recovering-genomic-context (#SAD)
                                </text>
                            {% endif %}
                        </svg>

                            {% for gene_key, gene in dgr_data.tr_genes.items %}
                            <!-- Popover Element-->
                            <div class="d-none hidden popover fade in top col-12" id="{{dgr}}-gene-{{ gene.gene_callers_id }}-popover">
                            <div  class="popover-body table-responsive">
                                <div class="card" id="popover-panel">
                                    <div id="{{dgr}}-gene-{{ gene.gene_callers_id }}-popover" class="popover-body">
                                    <div class="card" id="popover-panel">
                                        <div class="card-header mt-2" style="width: 100%;">
                                            <h4>Gene Call</h4>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-striped gene-call-table table-responsive" style="width: 100%; text-align: center;">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Source</th>
                                                        <th>Contig</th>
                                                        <th>Length</th>
                                                        <th>Direction</th>
                                                        <th>Start</th>
                                                        <th>Stop</th>
                                                        <th>Call Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ gene.gene_callers_id|pretty }}</td>
                                                        <td>{{ gene.source|pretty }}</td>
                                                        <td>{{ gene.contig|pretty }}</td>
                                                        <td>{{ gene.length|pretty }}</td>
                                                        <td>{{ gene.direction|pretty }}</td>
                                                        <td>{{ gene.start|pretty }}</td>
                                                        <td>{{ gene.stop|pretty }}</td>
                                                        <td>{{ gene.call_type|pretty }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Additional sections like DNA/AA sequences and Function Annotations follow here as needed -->
                                    </div>
                                </div>

                                        <!-- DNA/AA Buttons -->
                                        <div class="d-flex seq-buttons ml-3">
                                            <div class="col-xs-1 mr-2">
                                                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="show_sequence('{{ gene.header|escapejs }}', '{{ gene.DNA_sequence|escapejs }}')">DNA</button>
                                            </div>
                                            <div class="col-xs-1">
                                                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="show_aa_sequence('{{ gene.header|escapejs }}', '{{ gene.AA_sequence|escapejs }}')">AA</button>
                                            </div>
                                        </div>
                                        <!-- Functional Annotations Table -->
                                        <div class="card-header mt-2" style="width: 100%;">
                                            <h4>Function Annotations</h4>
                                        </div>
                                        <div class="card-body">
                                            {% if gene.has_functions %}
                                                <table class="table table-striped table-responsive" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>Source</th>
                                                            <th>Accession</th>
                                                            <th>Function</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for function in gene.functions %}
                                                            <tr>
                                                                <td class="long">{{ function.source|pretty }}</td>
                                                                <td>{{ function.accession|pretty }}</td>
                                                                <td class="long">{{ function.function|pretty }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <p>No known function in {{ meta.gene_function_sources|pretty_join:"or" }} :/</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>

                        <h4>Variable Regions (VR)</h4>
                        {% for vr_key, vr in dgr_data.dgr_data.VRs.items %}
                            <div class="vr-container" style="margin-top: 25px;">
                                <h5>VR ID: {{ vr_key }}</h5>
                                <div style="width:1000px; margin:auto; background:#F1F1F1; border-radius:10px 20px; border:1px solid #c8c8c8; margin-top: 25px; margin-bottom: 25px;">
                                    <svg width="1000" height="80">

                                        <!-- Display VR -->
                                        <rect x='{{ vr.VX }}' y="0" width='{{ vr.VW }}' height="65" style="fill:red; opacity:0.5"></rect>
                                        <text x='{{ vr.VT }}' y="75" dominant-baseline="middle" text-anchor="middle" fill="red" style="font-weight:bold;">{{ vr_key|humanize }}</text>

                                        <!-- Loop through VR genes -->
                                        {% for gene_key, vr_gene in vr.vr_genes.items %}
                                            <g type="button" data-container="body" data-toggle="popover" data-popover-content='{% if vr_gene.direction == "r" %}#{{dgr}}-gene-{{ vr_gene.gene_callers_id }}-popover{% else %}#{{dgr}}-gene-{{ vr_gene.gene_callers_id }}{% endif %}' data-placement="bottom" {% if vr_gene.direction == "r" %}transform='translate({{ vr_gene.VGTRANS }}, 0) scale(-1, 1)'{% endif %} id='{{dgr}}-gene-{{ vr_gene.gene_callers_id }}'>
                                                <rect x='{{ vr_gene.VRX }}' y="23" width='{{ vr_gene.VRW }}' height="15" style='fill:{{ vr_gene.COLOR }}'></rect>
                                                <polygon points='{{ vr_gene.VRX_VRW }} 12, {{ vr_gene.VGY }} 30, {{ vr_gene.VRX_VRW }} 48' style='fill:{{ vr_gene.COLOR }}'></polygon>
                                            </g>

                                            <!-- Draw gene caller ID label -->
                                            <text x='{{ vr_gene.VCX }}' y="55" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">
                                                {{ vr_gene.gene_callers_id }}
                                            </text>

                                            <!-- Draw RT label if it's the RT gene -->
                                            {% if vr_gene.COLOR == '#c366e8' %}  <!-- Assuming this is the RT gene color -->
                                                <text x='{{ vr_gene.VCX }}' y="70" dominant-baseline="middle" text-anchor="middle" fill="{{ vr_gene.COLOR }}" style="font-weight:bold;">
                                                    RT
                                                </text>
                                            {% endif %}
                                        {% endfor %}
                                    </svg>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

</body>
</html>
<style>
    .popover {
        min-width: 600px;
        max-width: 750px;
    }
    .popover-content{
        padding: 0px;
    }
    .popover-table th, td {
        padding: 0px 15px;
        white-space:nowrap;
    }
    .gene-call-table{
        margin-bottom: 0px;
    }
    .gene-section{
        max-width: 70px;
        margin-right: 5px;
    }
    .seq-buttons{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .long{
        white-space:normal;
        max-width: 300px;
    }
    .extra-long{
        white-space:normal;
        max-width: 900px;
    }
    #popover-panel{
        border: none;
        margin-bottom: 0px;
    }
    .image-panel{
        width: fit-content;
        display: flex;
        justify-content: left;
    }
    .popover-hover-table{
        max-width: 145px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .popover-hover-table:hover{
        overflow: visible;
        cursor: pointer;
        white-space: normal;
    }
</style>
<script type="text/javascript">
    // Binding template to the Popover Content
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
        sanitize: false,
        html : true,
        content: function() {
            var content = $(this).attr("data-popover-content");
            return $(content).children(".popover-body").html();
        }
    });
})

//Closing popover if click somewhere else on the page.
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

function show_sequence_modal(title, content) {
  // remove previous modal window
  $('.modal-sequence').modal('hide');
  $('.modal-sequence').remove();

  $('body').append('<div class="modal modal-sequence"> \
      <div class="modal-dialog"> \
          <div class="modal-content"> \
              <div class="modal-header"> \
                  <h4 class="modal-title justify-content-center">' + title + '</h4> \
              </div> \
              <div class="modal-body"> \
                      <textarea class="form-control" style="width: 100%; height: 100%; font-family: "Roboto", Helvetica, Arial;" rows="16" onclick="$(this).select();" readonly>' + (content.startsWith('>') ? content : '>' + content) + '</textarea> \
              </div> \
              <div class="modal-footer"> \
                  <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button> \
              </div> \
          </div> \
      </div> \
  </div>');
  $('.modal-sequence').modal('show');
  $('.modal-sequence textarea').trigger('click');
}

function show_sequence(header, sequence) {
    show_sequence_modal('Gene DNA Sequence', header + '\n' + sequence);
}

function show_aa_sequence(header, aa_sequence) {
    show_sequence_modal('Gene Amino Acid Sequence', header + '\n' + aa_sequence);
}

</script>