<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">
    <base target="_blank">

    <title>Anvi'o: Diversity-Generating Retroelements Summary</title>

    <!-- JQUERY -->
    <script src=".html/js/jquery.min.js"></script>

    <!-- Popper JavaScript -->
    <script src=".html/js/popper.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=".html/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">
    <link href=".html/bootstrap-sortable/Contents/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/anvio.css" rel="stylesheet">

    <!-- Bootstrap Icon CSS -->
    <link href=".html/css/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#" style="width: 50px;">
                <img class="img-fluid img-left"src=".html/pics/logo-simple.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse align-items-center justify-content-center" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item ml-5 mr-5">
                            <a class="text-secondary" href="http://anvio.org">Anvi'o Project Page</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="text-secondary" href="https://github.com/merenlab/anvio">Anvi'o Repository</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="text-secondary" href="https://github.com/merenlab/anvio/issues">Report an Issue</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="text-secondary" href="http://anvio.org/#people">Contact</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="text-secondary" href="https://github.com/merenlab/anvio/releases">Anvi'o version: {{ meta|lookup:"anvio_version" }}</a>
                        </li>
                    </ul>
                </div>
        </div>
            <!-- /.navbar-collapse -->
    </nav>

    <div class="container mt-5 pt-5">
        <div class="alert alert-primary d-flex" role="alert">
            <i class="d-flex align-items-center mr-3 text-primary bi bi-info-circle" style="font-size: 3em;"></i>
            <div class="text-secondary">
                Welcome to the <a href="https://anvio.org" target="_blank">anvi'o</a> summary page for diversity-generating retroelements. The contents of this page
                is generated by <a href="https://anvio.org/m/anvi-report-dgrs" target="_blank">anvi-report-dgrs</a>, which not only produces this static HTML summary page
                but also a more comprehensive <a href="https://anvio.org/m/dgrs-txt" target="_blank">text output files</a> for downstream analyses. In addition to the text
                output the program generates, below you will find a summary of the total of {{ meta.num_dgrs }} dgrs, their genomic context, <span class="highlight"> and
                their activity accross {{ meta.num_samples }} samples </span>. Please note that the anvi'o dgrs submodule is still relatively young and experimental.
                If you have any questions, please feel free to write to <a href="https://anvio.org/m/anvi-report-dgrs" target="_blank">its developers</a>.
            </div>
        </div>
    </div>

    <section>
        <div class="container mb-3">
            <div class="card border-warning" id="Summary">
                <div class="card-header">
                    <h1 class="card-title">All DGRs</h1>
                </div>
                <div id="collapse-bins" class="collapse show in">
                    <div class="card-body">
                        <p>To view or download the TAB-delimited file that summarizes all diversity-generating retroelements, please <a href="{{ files|lookup:"Putative_DGRs" }}">click here</a>.
                        <p>See the anvi'o artifact <a href="https://anvio.org/m/dgrs-txt" target="_blank">dgr-txt</a> to learn more about the information shown in this file.
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for dgr, dgr_data in dgrs.items %}
    <section class="mb-3">
        <div class="container">
            <div class="card border-info" id="{{ dgr }}">
                <div class="card-header">
                    <h1 class="card-title">{{ dgr|pretty }}</h1>
                </div>
                <div id="collapse-bins">
                    <div class="card-body">

                        <h3>Genomic context <small class="text-muted">:: What we know about the genes that surround both the Template and Varible Regions.</small></h3>

                        <p>The figure below shows the location of the DGR and the genes that surround it in the genome. You can find a table with more information about <a href="{{ files[dgr].tr_genes }}">the TR genes</a>, <a href="{{ files[dgr].vr_genes }}">the VR genes</a> and <a href="{{ files[dgr].functions }}">their functions</a>.

                        <div style="width:1000px; margin:auto; background:#F1F1F1; border-radius:10px 20px; border:1px solid #c8c8c8; margin-top: 25px; margin-bottom: 25px;">
                        <svg width="1000" height="80">

                            {% if meta.genomic_context_recovered %}
                            <!-- Mark the Template Region -->
                            <rect x='{{ dgr_data.dgr_data.TX }}' y="0" width='{{ dgr_data.dgr_data.TIW }}' height="65" style="fill:orange; opacity:0.5"></rect>
                            <text x='{{ dgr_data.dgr_data.TT }}' y="75" dominant-baseline="middle" text-anchor="middle" fill="orange" style="font-weight:bold;">{{ dgr|humanize}}</text>

                            <!-- Go through TR genes to be shown in the genomic context -->
                            {% for gene in dgr_data.tr_genes %}
                                {% if gene.direction == "r" %}
                                <g type="button" data-container="body" data-toggle="popover" data-popover-content='#{{dgr}}-gene-{{ gene.gene_callers_id }}-popover' data-placement="bottom" transform='translate({{ gene.TGTRANS }}, 0) scale(-1, 1)' id='{{dgr}}-gene-{{ gene.gene_callers_id }}'>
                                {% else %}
                                <g type="button" data-container="body" data-toggle="popover" data-popover-content='#{{dgr}}-gene-{{ gene.gene_callers_id }}-popover' data-placement="bottom" id='{{dgr}}-gene-{{ gene.gene_callers_id }}'>
                                {% endif %}
                                <rect x='{{ gene.TRX }}' y="23" width='{{ gene.TRW }}' height="15" style='fill:{{ gene.COLOR }}'></rect>
                                <polygon points='{{ gene.TRX_TRW }} 12, {{ gene.TGY }} 30, {{ gene.TRX_TRW }} 48' style='fill:{{ gene.COLOR }}'></polygon>
                                </g>

                                {% if forloop.counter0|even_odd == 0 %}
                                <text x='{{ gene.TCX }}' y="55" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene.gene_callers_id }}</text>
                                {% else %}
                                <text x='{{ gene.TCX }}' y="12" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene.gene_callers_id }}</text>

                                <!-- Go through VR genes to be shown in the genomic context -->
                                {% for gene in dgr_data.vr_genes %}
                                {% if gene.direction == "r" %}
                                <g type="button" data-container="body" data-toggle="popover" data-popover-content='#{{dgr}}-gene-{{ gene.gene_callers_id }}-popover' data-placement="bottom" transform='translate({{ gene.VGTRANS" }}, 0) scale(-1, 1)' id='{{dgr}}-gene-{{ gene.gene_callers_id }}'>
                                {% else %}
                                <g type="button" data-container="body" data-toggle="popover" data-popover-content='#{{dgr}}-gene-{{ gene.gene_callers_id }}-popover' data-placement="bottom" id='{{dgr}}-gene-{{ gene.gene_callers_id }}'>
                                {% endif %}
                                <rect x='{{ gene.VRX }}' y="23" width='{{ gene.VRW }}' height="15" style='fill:{{ gene.COLOR }}'></rect>
                                <polygon points='{{ gene.VRX_VRW }} 12, {{ gene.VGY }} 30, {{ gene.VRX_VRW }} 48' style='fill:{{ gene.COLOR }}'></polygon>
                                </g>

                                {% if forloop.counter0|even_odd == 0 %}
                                <text x='{{ gene.VCX }}' y="55" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene.gene_callers_id }}</text>
                                {% else %}
                                <text x='{{ gene.VCX }}' y="12" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene.gene_callers_id }}</text>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <text x="50%" y="35" dominant-baseline="middle" text-anchor="middle" fill="gray" style="font-style:italic;">We don't know anything about the genomic context since you have used the flag --skip-recovering-genomic-context (#SAD)</text>
                        {% endif %}

                            </svg>


</body>
</html>