<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">

    <title>Anvi'o Output for PROJECT</title>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/full-width-pics.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/meren/anvio">Anvi'o Repository</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/blob/master/README.md">User Manual</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/issues">Report an Issue</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <div class="header-summary-div">
        <img class="img-responsive img-left" style="float:left" src=".html/pics/logo.png" alt="">
        <p style="font-size: 12pt; padding-left: 225px; font: bold;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architeto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
        </p>
        </div>
    </header>

    {% for group_id in meta.groups %}
    <!-- Content Section -->
    <section>
        <div class="container" style="border-left: 25px {{ groups|lookup:group_id|lookup:"color" }} solid; border-radius: 25px; background-color: rgba(200, 200, 200, .2);">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">{{ group_id|humanize }}</h2>
                    <p class="lead section-lead">Downloads:</p>
                    <p class="section-paragraph"><a href="{{ groups|lookup:group_id|lookup:"files"|lookup:"contigs"   }}">Fasta File</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    {% endfor %}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
