<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">

    <title>Anvi'o Output for PROJECT</title>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">
    <link href=".html/css/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/anvio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/meren/anvio">Anvi'o Repository</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/blob/master/README.md">User Manual</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/issues">Report an Issue</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Anvi'o version: {{ meta|lookup:"profile"|lookup:"version"  }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <div class="header-summary-div">
            <div style="width: 200px;">
                <img class="img-responsive img-left"src=".html/pics/logo.png" alt="">
            </div>
            <div class="header-text">
                Bins that were identified in {% if meta|lookup:"profile"|lookup:"merged" == '1' %} merged {% else %} single {% endif %} profile '<b>{{ meta|lookup:"profile"|lookup:"sample_id"|humanize }}</b>' and stored in the database as "<b>{{ meta|lookup:"collection_id"|humanize }}</b>" collection, describe <b>{{ meta|lookup:"num_groups"|pretty }}</b> groups that resulted in <b>{{ meta|lookup:"num_contigs"|pretty }}</b> contigs in total accountig for <b>{{ meta|lookup:"total_length"|pretty  }}</b> nucleotides, which represent <b>{{ meta|lookup:"percent_described" }}%</b> of the original assembly for this project stored in the annotation database.
            </div>
        </div>
    </header>


    <section>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>


    <section>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Groups Overview for '{{ meta|lookup:"profile"|lookup:"sample_id"|humanize  }}'</h1>
                </div>
    
                <div class="panel-body">
                    <table class="table table-striped sortable" id="tblGrid">
                        <thead id="tblHead">
                            <tr>
                                <th>Group</th>
                                <th class="text-center">Total Size</th>
                                <th class="text-center">Num Contigs</th>
                                <th class="text-center">N50</th>
                                <th class="text-center">GC Content</th>
                                <th class="text-center">Compl.</th>
                                <th class="text-center">Contam.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group_id in meta.groups %}
                            <tr>
                                <td style="vertical-align: middle;">{{ group_id }}</td>
                                <td class="text-center" data-value="{{ groups|lookup:group_id|lookup:"total_length" }}"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modFiles_{{group_id}}">{{ groups|lookup:group_id|lookup:"total_length"|humanize_n }}</button></td>
                                <td class="text-center" style="vertical-align: middle;" data-value="{{ groups|lookup:group_id|lookup:"num_contigs" }}">{{ groups|lookup:group_id|lookup:"num_contigs"|pretty }}</td>
                                <td class="text-center" style="vertical-align: middle;" data-value="{{ groups|lookup:group_id|lookup:"N50" }}">{{ groups|lookup:group_id|lookup:"N50"|pretty }}</td>
                                <td class="text-center" style="vertical-align: middle;" data-value="{{ groups|lookup:group_id|lookup:"GC_content" }}">{{ groups|lookup:group_id|lookup:"GC_content"|humanize_n }}%</td>
                                <td class="text-center" data-value="{{ groups|lookup:group_id|lookup:"percent_complete" }}"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modCompleteness_{{group_id}}">{{ groups|lookup:group_id|lookup:"percent_complete"|humanize_n }}%</button></td>
                                <td class="text-center" style="vertical-align: middle;" data-value="{{ groups|lookup:group_id|lookup:"percent_contamination"|humanize_n }}">{{ groups|lookup:group_id|lookup:"percent_contamination"|humanize_n }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


    {% for group_id in meta.groups %}

    <!-- FILES FOR EACH GROUP -->
    <div class="modal fade" id="modFiles_{{group_id}}" role="dialog" aria-labelledby="modFiles" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Static files for {{ group_id|humanize }}</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped" id="tblGrid">
                <thead id="tblHead">
                  <tr>
                    <th>File</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>Contigs FASTA</td>
                    <td><a href="{{ groups|lookup:group_id|lookup:"files"|lookup:"contigs" }}">{{ groups|lookup:group_id|lookup:"files"|lookup:"contigs" }}</a></td>
                  </tr>
                </tbody>
          </table>
            <p class="section-paragraph"></p>
          <p style="color: #AAAAAA; padding: 10px;">These are some of the files generated for your bin. As these files sit on your disk, you do not need to download them</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- COMPLETENESS INFO FOR EACH GROUP -->
    <div class="modal fade" id="modCompleteness_{{group_id}}" role="dialog" aria-labelledby="modCompleteness" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Completeness estimations for "{{ group_id|humanize }}"</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped" id="tblGrid">
                <thead id="tblHead">
                  <tr>
                    <th>Source</th>
                    <th class="text-center">Percent completeness</th>
                    <th class="text-center">Percent contamination</th>
                  </tr>
                </thead>
                <tbody>
                  {% for source in groups|lookup:group_id|lookup:"completeness" %}
                  <tr>
                    <td>{{ source|humanize }}</td>
                    <td class="text-center">{{ groups|lookup:group_id|lookup:"completeness"|lookup:source|lookup:"percent_complete"|humanize_n }}%</td>
                    <td class="text-center">{{ groups|lookup:group_id|lookup:"completeness"|lookup:source|lookup:"percent_contamination"|humanize_n }}%</td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
            <p class="section-paragraph"></p>
          <p style="color: #AAAAAA; padding: 10px;">See the documentation for more information on single-copy gene data.</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- jQuery -->
    <script src=".html/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=".html/js/bootstrap.min.js"></script>

    <!-- Table sorter, source: https://github.com/drvic10k/bootstrap-sortable -->
    <script src=".html/js/bootstrap-sortable.js"></script>
</body>
</html>
