<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">

    <title>Anvi'o: {{ meta|lookup:"profile"|lookup:"sample_id"|humanize }}</title>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">
    <link href=".html/css/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/anvio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/meren/anvio">Anvi'o Repository</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/blob/master/README.md">User Manual</a>
                    </li>
                    <li>
                        <a href="https://github.com/meren/anvio/issues">Report an Issue</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Anvi'o version: {{ meta|lookup:"profile"|lookup:"version" }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <div class="header-summary-div">
            <div style="width: 200px;">
                <img class="img-responsive img-left"src=".html/pics/logo.png" alt="">
            </div>
            <div class="header-text">
                Bins that were identified in {% if meta|lookup:"profile"|lookup:"merged" == '1' %} merged {% else %} single {% endif %} profile '<b>{{ meta|lookup:"profile"|lookup:"sample_id"|humanize }}</b>' and stored in the database as "<b>{{ meta|lookup:"collection_id"|humanize }}</b>" collection, describe <b>{{ meta|lookup:"num_bins"|pretty }}</b> bins that resulted in <b>{{ meta|lookup:"num_contigs"|pretty }}</b> contigs in total accountig for <b>{{ meta|lookup:"total_length"|pretty }}</b> nucleotides, which represent <b>{{ meta|lookup:"percent_described" }}%</b> of the original assembly for this project stored in the annotation database.
            </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class="panel panel-info" id="bins_panel">
                <div class="panel-heading">
                    <h1 class="panel-title"><a data-toggle="collapse" data-parent="#bins_panel" href="#collapse-bins">Bins Overview ({{ meta|lookup:"num_bins"|pretty }})</a></h1>
                </div>

                <div id="collapse-bins" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-striped sortable" id="tblGrid_bin">
                            <thead id="tblHead_bin">
                                <tr>
                                    <th data-defaultsort='disabled' class="text-center"></th>
                                    <th>Bin</th>
                                    <th class="text-center">Taxonomy</th>
                                    <th class="text-center">Total Size</th>
                                    <th class="text-center">Num Contigs</th>
                                    <th class="text-center">N50</th>
                                    <th class="text-center">GC Content</th>
                                    <th class="text-center">Compl.</th>
                                    <th class="text-center">Contam.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bin in meta.collection %}
                                <tr>
                                    <td style="vertical-align: middle; width: 18px;"><div style="width:18px; height: 18px; background-color: {{ collection|lookup:bin|lookup:"color" }}; fload:left; border-radius: 3px;">&nbsp;</div></td>
                                    <td style="vertical-align: middle;">{{ bin }}</td>
                                    <td class="text-center" data-value="{{ collection|lookup:bin|lookup:"taxon" }}"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modTaxonomy_{{bin}}"><i>{{ collection|lookup:bin|lookup:"taxon" }}</i></button></td>
                                    <td class="text-center" data-value="{{ collection|lookup:bin|lookup:"total_length" }}"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modFiles_{{bin}}">{{ collection|lookup:bin|lookup:"total_length"|humanize_n }}</button></td>
                                    <td class="text-center" style="vertical-align: middle;" data-value="{{ collection|lookup:bin|lookup:"num_contigs" }}">{{ collection|lookup:bin|lookup:"num_contigs"|pretty }}</td>
                                    <td class="text-center" style="vertical-align: middle;" data-value="{{ collection|lookup:bin|lookup:"N50" }}">{{ collection|lookup:bin|lookup:"N50"|pretty }}</td>
                                    <td class="text-center" style="vertical-align: middle;" data-value="{{ collection|lookup:bin|lookup:"GC_content" }}">{{ collection|lookup:bin|lookup:"GC_content"|humanize_n }}%</td>
                                    <td class="text-center" data-value="{{ collection|lookup:bin|lookup:"percent_complete" }}"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modCompleteness_{{bin}}">{{ collection|lookup:bin|lookup:"percent_complete"|humanize_n }}%</button></td>
                                    <td class="text-center" style="vertical-align: middle;" data-value="{{ collection|lookup:bin|lookup:"percent_contamination"|humanize_n }}">{{ collection|lookup:bin|lookup:"percent_contamination"|humanize_n }}%</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% for bin in meta.collection %}

    <!-- TAXONOMY FOR GROUP -->
    <div class="modal fade" id="modTaxonomy_{{bin}}" role="dialog" aria-labelledby="modFiles" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Taxonomy calls for {{ bin|humanize }}</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped" id="tblGrid_tax_{{ bin }}">
                <thead id="tblHead_tax_{{ bin }}">
                  <tr>
                    <th>Taxon call</th>
                    <th>Relative occurrence</th>
                  </tr>
                </thead>
                <tbody>
                  {% for taxon_call in collection|lookup:bin|lookup:"taxon_calls" %}
                  <tr>
                    <td>{{ taxon_call.0 }}</td>
                    <td>{{ taxon_call.1|humanize_n }}%</td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
            <p class="section-paragraph"></p>
          <p style="color: #AAAAAA; padding: 10px;">Taxonomy calls for splits in your {{ collection|lookup:bin|lookup:"num_contigs" }} contigs
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FILES FOR GROUP -->
    <div class="modal fade" id="modFiles_{{bin}}" role="dialog" aria-labelledby="modFiles" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Static files for {{ bin|humanize }}</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped" id="tblGrid_files_{{ bin }}">
                <thead id="tblHead_files_{{ bin }}">
                  <tr>
                    <th>File</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Contigs FASTA</td>
                    <td><a href="{{ collection|lookup:bin|lookup:"files"|lookup:"contigs" }}">{{ collection|lookup:bin|lookup:"files"|lookup:"contigs" }}</a></td>
                  </tr>
                </tbody>
          </table>
            <p class="section-paragraph"></p>
          <p style="color: #AAAAAA; padding: 10px;">Files that were generated for your bin.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- COMPLETENESS INFO FOR GROUP -->
    <div class="modal fade" id="modCompleteness_{{bin}}" role="dialog" aria-labelledby="modCompleteness" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Completeness estimations for "{{ bin|humanize }}"</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped" id="tblGrid_completeness_{{ bin }}">
                <thead id="tblHead_completeness_{{ bin }}">
                  <tr>
                    <th>Source</th>
                    <th class="text-center">Percent completeness</th>
                    <th class="text-center">Percent contamination</th>
                  </tr>
                </thead>
                <tbody>
                  {% for source in collection|lookup:bin|lookup:"completeness" %}
                  <tr>
                    <td>{{ source|humanize }}</td>
                    <td class="text-center">{{ collection|lookup:bin|lookup:"completeness"|lookup:source|lookup:"percent_complete"|humanize_n }}%</td>
                    <td class="text-center">{{ collection|lookup:bin|lookup:"completeness"|lookup:source|lookup:"percent_contamination"|humanize_n }}%</td>
                  </tr>
                  {% endfor %}
                </tbody>
          </table>
            <p class="section-paragraph"></p>
          <p style="color: #AAAAAA; padding: 10px;">See the documentation for more information on single-copy gene data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- jQuery -->
    <script src=".html/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=".html/js/bootstrap.min.js"></script>

    <!-- Table sorter, source: https://github.com/drvic10k/bootstrap-sortable -->
    <script src=".html/js/bootstrap-sortable.js"></script>
</body>
</html>
