<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Anvi'o">
    <base target="_blank">

    <title>Anvi'o: Inversions Summary</title>

    <!-- JQUERY -->
    <script src=".html/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=".html/js/bootstrap.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href=".html/css/bootstrap.css" rel="stylesheet">
    <link href=".html/bootstrap-sortable/Contents/bootstrap-sortable.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=".html/css/anvio.css" rel="stylesheet">
</head>

<body>

    <header class="image-bg-fluid-height" style="padding: 10px 0px;">
        <div class="header-summary-div">
            <div style="width: 200px;">
                <img class="img-responsive img-left"src=".html/pics/logo.png" alt="">
            </div>
            <div class="header-text">
                This is a summary page for the inversions found in XXX. Below you will find a total of {{ meta.num_inversions }}
                inversions, their genomic context, and other stuff .. and we need much more information here about the number of samples
                and other kind of things that we can report about what has been done, where to find some more information about the
                program that generated this page, etc
            </div>
        </div>
    </header>

    {% for inversion in inversions %}
    <section>
        <div class="container">
            <div class="panel panel-info" id="{{ inversion }}">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ inversion|pretty }}</h1>
                </div>

                <div id="collapse-bins" class="panel-collapse">
                    <div class="panel-body">
                        <h3>Basic information <small class="text-muted">:: What we know about this inversion</small></h3>

                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead id="{{ inversion }}-table">
                                <tbody>
                                    <tr class="table-active">
                                        <td width="25%" style="border: none; text-align:right;">First Sequence<br/>&nbsp;<br/>Second Sequence</td>
                                        <td style="border: none;">
                                            {{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"first_seq"|monospace|safe }}<br />
                                            {{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"midline"|monospace|safe }}<br />
                                            {{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"second_seq"|monospace|safe }}</td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="panel panel-default" style="margin-right:10px; margin-left:10px;">
                            <div class="panel-heading">
                                General Information
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead id="{{ inversion }}-table">
                                    <tbody>
                                        <tr>
                                            <td width="25%">Inversion name</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"inversion_id" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Unique entry identifier</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"entry_id" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Sample in which it was found</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"sample_name" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Contig in which it was found</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"contig_name" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Number of gaps</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"num_gaps" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Length</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"length"|pretty }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Distance in genome</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"distance"|pretty }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Number of samples observed</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"num_samples" }}</td>
                                        </tr>
                                        <tr>
                                            <td width="25%">Sample names</td>
                                            <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"sample_names" }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Side by side tables -->
                        <div class="row">
                            <div class="table-responsive col-md-6">
                                <div class="panel panel-default" style="margin-right:10px; margin-left:10px;">
                                    <div class="panel-heading">
                                        First Oligo
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="25%">Start</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"first_start"|pretty }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">End</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"first_end"|pretty }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">Primer</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"first_oligo_primer"|monospace|safe }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">Reference</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"first_oligo_reference"|monospace|safe }}</td>
                                                </tr>
                                            </tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive col-md-6">
                                <div class="panel panel-default" style="margin-right:10px; margin-left:10px;">
                                    <div class="panel-heading">
                                        Second Oligo
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="25%">Start</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"second_start"|pretty }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">End</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"second_end"|pretty }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">Primer</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"second_oligo_primer"|monospace|safe }}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">Reference</td>
                                                    <td>{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"second_oligo_reference"|monospace|safe }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Genomic context <small class="text-muted">:: What we know about the genes that surrounds it</small></h3>

                        <div style="width:1000px; margin:auto; background:#F1F1F1; border-radius:10px 20px; border:1px solid #c8c8c8; margin-top: 25px; margin-bottom: 25px;">
                        <svg width="1000" height="80">

                        {% if meta.genomic_context_recovered %}
                            <!-- Mark the inversion site -->
                            <rect x="{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"IX" }}" y="0" width="{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"IW" }}" height="65" style="fill:red; opacity:0.5"></rect>
                            <text x="{{ inversions|lookup:inversion|lookup:"inversion_data"|lookup:"IT" }}" y="75" dominant-baseline="middle" text-anchor="middle" fill="red" style="font-weight:bold;">{{ inversion|humanize}}</text>

                            <!-- Go through genes to be shown in the genomic context -->
                            {% for gene in inversions|lookup:inversion|lookup:"genes" %}
                                {% if gene|lookup:"direction" == "r" %}<g type="button" class="btn btn-primary" data-toggle="popover" data-content='Hai. I am a gene call, and my ID is {{ gene|lookup:"gene_callers_id" }}' transform='translate({{ gene|lookup:"GTRANS" }}, 0) scale(-1, 1)' id="{{inversion}}-gene-{{ gene|lookup:"gene_callers_id" }}">{% else %}<g type="button" class="btn btn-primary" data-toggle="popover" data-content='Hai. I am a gene call, and my ID is {{ gene|lookup:"gene_callers_id" }}' id="{{inversion}}-gene-{{ gene|lookup:"gene_callers_id" }}">{% endif %}
                                <rect x="{{ gene|lookup:"RX" }}" y="23" width="{{ gene|lookup:"RW" }}" height="15" style="fill:green"></rect>
                                <polygon points="{{ gene|lookup:"RX_RW" }} 12, {{ gene|lookup:"GY" }} 30, {{ gene|lookup:"RX_RW" }} 48" style="fill:green"></polygon>
                                </g>

                                {% if forloop.counter0|even_odd == 0 %}
                                <text x="{{ gene|lookup:"CX" }}" y="55" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene|lookup:"gene_callers_id" }}</text>
                                {% else %}
                                <text x="{{ gene|lookup:"CX" }}" y="12" dominant-baseline="middle" text-anchor="middle" fill="black" style="font-weight:bold;">{{ gene|lookup:"gene_callers_id" }}</text>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <text x="50%" y="35" dominant-baseline="middle" text-anchor="middle" fill="gray" style="font-style:italic;">We don't know anything about the genomic context since you have used the flag `--skip-recovering-genomic-context` (#SAD)</text>
                        {% endif %}

                        </svg>

                        {% if meta.genomic_context_recovered %}
                        <!-- If the metagenomic context is recovered, we also want to populate some `divs` that hold information
                             for the gene calls. Below we have a set of hidden divs to be shown for each gene -->
                        {% for gene in inversions|lookup:inversion|lookup:"genes" %}
                        <div class="hidden" id="{{inversion}}-gene-{{ gene|lookup:"gene_callers_id" }}-popover">
                        <p>Hai. I am a gene call, and my ID is {{ gene|lookup:"gene_callers_id" }}.
                        </div>

                        {% endfor %}
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
<script type="text/javascript">
    $(function () {
  $('[data-toggle="popover"]').popover({"html": true, "trigger": "click", "container": "body", "viewport": "body", "placement": "top"});
})
//Closing popover if click somewhere else on the page.
$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>
</body>
</html>
