---
layout: help
title: Help pages for anvi'o programs and artifacts
categories: [anvio]
comments: false
image:
  featurerelative: images/header.png
  display: true
redirect_from:
    - /help
---

Here you will find a list of all anvi'o programs and artifacts that enable constructing workflows for integrated multi 'omics investigations.

If you need an introduction to the terminology used in 'omics research or in anvi'o, please take a look at <a href="http://merenlab.org/vocabulary/">our vocabulary page</a>. The anvi'o community is with you! If you have practical, technical, or science questions <a href="http://merenlab.org/2019/10/07/getting-help/">this page</a> to learn about resources available to you. If you are feeling overwhelmed, you can always scream towards the anvi'o {% verbatim %}{% include _discord_invitation_button.html %}{% endverbatim %}

<a href="/network/" target="_blank"><img src="/images/anvio-network.png" width="100%" /></a>

{:.notice}
The help contents were last updated on **{{ meta|lookup:"date" }}** for anvi'o version **{{ meta|lookup:"version" }}**.

{% verbatim %}
{% include _project-anvio-version.html %}
{% include _toc.html %}
{% endverbatim %}

## Anvi'o workflows

Anvi'o workflows are dynamic recipes for easy-to-use, scalable, and reproducible bioinformatics analyses through orchestrated use of [anvi'o programs](#anvio-programs) as well as third-party software. These workflows typically start with raw data files and a <span class="artifact-p">[workflow-config](artifacts/workflow-config/) <img src="images/icons/{{artifacts|lookup:"workflow-config"|lookup:"type"}}.png" class="artifact-icon-mini" /></span> and produce [anvi'o artifacts](#anvio-artifacts), which enable you to outsource rudimentary and relatively well-understood initial steps of your 'omics analyses so you can focus on more critical downstream research questions by further analyzing these data products inside or outside of the anvi'o software ecosystem.

The anvi'o {{ meta|lookup:"version" }} contains {{ workflows | length }} workflows:

<ul>
{% for workflow in workflows %}<li><a href="workflows/{{ workflow }}">The anvi'o <b>{{workflow}}</b> workflow</a> by {{workflows|lookup:workflow|lookup:"authors"|safe}}| <i>{{workflows|lookup:workflow|lookup:"one_sentence_summary"}}</i>.</li>{% endfor %}
</ul>

## Anvi'o artifacts

Anvi'o artifacts represent **concepts, file types, or data types** anvi'o programs can work with. A given anvi'o artifact can be provided by the user (such as a FASTA file), produced by anvi'o (such as a profile database), or both (such as phylogenomic trees). Anvi'o artifacts link anvi'o programs to each other to build novel workflows.

Listed below **a total of {{ artifacts|length }} artifacts**.

<table class="artifacts-table">
{% for artifact_type in artifact_types %}
{% if forloop.first %}<tr style="border:none;">{% else %}<tr>{% endif %}
<td><div class="artifact-icon-div"><img src="images/icons/{{artifact_type}}.png" class="artifact-icon" /></div></td><td class="artifact-list-td">{% for artifact in artifact_types|lookup:artifact_type %}<span class="artifact-n" markdown="1">[{{artifact}}]({{artifacts|lookup:artifact|lookup:"path"}}){% if forloop.last %}</span>{% else %}</span> {% endif %}{% endfor %}</td>
</tr>
{% endfor %}
</table>

## Anvi'o programs

Anvi'o programs perform atomic tasks that can be weaved together to implement complete 'omics workflows. Please note that there may be programs that are not listed on this page. You can type 'anvi-' in your terminal, and press the TAB key twice to see the full list of programs available to you on your system, and type `anvi-program-name --help` to read the full list of command line options.

Listed below **a total of {{ programs|length }} programs**.

{% for program_name, url, desc, authors_html in programs %}
<div style="width:100%;">
<table class="programs-table">
<tbody>
<tr style="border:none;">
    <td class="program-td">
        <span class="artifact-emoji">🔥</span> <span markdown="1">**[{{program_name}}]({{url}})**</span>. <span markdown="1">{{desc}}</span>.
    </td>
</tr>
<tr>
    <td class="artifact-r-td">
    <span class="artifact-emoji">🧀</span>
        {% for key, value in program_provides_requires.items %}{% if key == program_name %}{% if value|lookup:"requires" %}{% for name, path in value|lookup:"requires" %}<span class="artifact-r" markdown="1">[{{name}}]({{path}}) <img src="images/icons/{{artifacts|lookup:name|lookup:"type"}}.png" class="artifact-icon-mini" />{% if forloop.last %} </span>{% else %}</span> {% endif %}{% endfor %}{% else %}<span class="artifact-r" markdown="1">n/a</span>{% endif %}{% endif %}{% endfor %}
    </td>
</tr>
<tr>
    <td class="artifact-p-td">
    <span class="artifact-emoji">🍕</span>
        {% for key, value in program_provides_requires.items %}{% if key == program_name %}{% if value|lookup:"provides" %}{% for name, path in value|lookup:"provides" %}<span class="artifact-p" markdown="1">[{{name}}]({{path}}) <img src="images/icons/{{artifacts|lookup:name|lookup:"type"}}.png" class="artifact-icon-mini" />{% if forloop.last %} </span>{% else %}</span> {% endif %}{% endfor %}{% else %}<span class="artifact-p" markdown="1">n/a</span>{% endif %}{% endif %}{% endfor %}
    </td>
</tr>
<tr style="border:none;">
    <td class="program-td">
        <span class="artifact-emoji">🧠</span> {{ authors_html | safe }}
    </td>
</tr>
</tbody>
</table>
</div>
{% endfor %}
