---
layout: page 
title: {{ program.name }} [program]
categories: [anvio]
comments: false
image:
  featurerelative: ../../../images/header.png
  display: true
---

{% verbatim %}
{% include _toc.html %}
{% endverbatim %}

<img src="{{program.icon}}" alt="PROGRAM" style="width:100px; border:none" />

{{ program.description }}

[Back to help main page](../../)

## Provides

<p style="text-align: left" markdown="1">{% for name, path in program.provides %}<span style="background:#cbe4d5; padding: 0px 3px 2px 3px; border-radius: 5px;">[{{name}}]({{path}}){% if forloop.last %}</span>{% else %}</span> {% endif %}{% endfor %}</p>

## Requires or uses

<p style="text-align: left" markdown="1">{% for name, path in program.requires %}<span style="background:#dcbfe8; padding: 0px 3px 2px 3px; border-radius: 5px;">[{{name}}]({{path}}){% if forloop.last %}</span>{% else %}</span> {% endif %}{% endfor %}</p>

## Usage

{% if program.usage %}
{{ program.usage }}
{% else %}
{:.notice}
**No one has described the usage of this program** :/ If you would like to contribute, please see usage examples [here](https://github.com/merenlab/anvio/tree/master/anvio/docs), and feel free to add a Markdown formatted file in this directory named "{{program.name}}.md". For a template, you can use the markdown file for `anvi-gen-contigs-database`. THANK YOU!
{% endif %}

## Additional Resources

{% for text, url in program.resources %}
* [{{text}}]({{url}})
{% endfor %}

{:.notice}
Are you aware of resources that may help users better understand the utility of this program? Please feel free to edit [this file](https://github.com/merenlab/anvio/tree/master/bin/{{program.name}}) on GitHub. If you are not sure how to do that, find the `__resources__` tag in [this file](https://github.com/merenlab/anvio/blob/master/bin/anvi-interactive) to see an example.
