---
layout: program
title: The anvi'o '{{ workflow.name }}' workflow
{% if workflow.one_sentence_summary %}excerpt: {{ workflow.one_sentence_summary | striptags | get_first_sentence | slice:250 }}{% endif %}
categories: [anvio]
comments: false
redirect_from: /{{ meta.version_short_identifier }}/{{ workflow.name }}
image:
  featurerelative: ../../../images/header.png
  display: true
---

{{ workflow.one_sentence_summary}}

🔙 **[To the main page](../../)** of anvi'o programs and artifacts.

## Authors

{{ workflow.authors | safe }}

## Can consume

{% if program.requires %}
<p style="text-align: left" markdown="1">{% for name, path in program.requires %}<span class="artifact-r">[{{name}}]({{path}}) <img src="../../images/icons/{{artifacts|lookup:name|lookup:"type"}}.png" class="artifact-icon-mini" />{% if forloop.last %}</span>{% else %}</span> {% endif %}{% endfor %}</p>
{% else %}
This program seems to know what its doing. It needs no input material from its user. Good program.
{% endif %}

## Can provide

{% if program.provides %}
<p style="text-align: left" markdown="1">{% for name, path in program.provides %}<span class="artifact-p">[{{name}}]({{path}}) <img src="../../images/icons/{{artifacts|lookup:name|lookup:"type"}}.png" class="artifact-icon-mini" />{% if forloop.last %}</span>{% else %}</span> {% endif %}{% endfor %}</p>
{% else %}
This program does not seem to provide any artifacts. Such programs usually print out some information for you to see or alter some anvi'o artifacts without producing any immediate outputs.
{% endif %}

## Workflow description and usage

{% if workflow.description %}
{{ workflow.description|safe }}

{:.notice}
Edit [this file](https://github.com/merenlab/anvio/tree/master/anvio/docs/workflows/{{workflow.name}}.md) to update this information.
{% else %}
{:.notice}
**No one has described this workflow**. What a shame :/ If you would like to contribute, please get in touch with an anvi'o developer :)
{% endif %}
